head
	title="Miki"
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
	link(rel="stylesheet", href="/public/highlight/styles/monokai.css")
	script(src="http://code.jquery.com/jquery-2.0.3.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
